.commentsContainer {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .commentInfoContainer {
    display: flex;
    justify-content: space-between;
  }

  .commentUpvotesContainer {
    display: flex;
  }
  
  .commentsContainer:nth-child(odd) {
    background-color: #e8e8e8;
  }


  .commentComment {
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px;
  }
  
  .commentName p, .commentComment p, #commentUpvotes {
    margin: 0px;
  }

  .commentThumbs {
    margin: 3px 5px 0px 5px;
  }

  .commentThumbs:hover {
    cursor: pointer;
  }

  .fa-thumbs-up {
   
  }

  .fa-thumbs-down {

  }

  .voted {
    color: #a12f36;
  }