
.movieContainer {
    margin: 5px 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

.large-image {
    max-width: 500px;
}

.movieContainer img {
    width: 100%;
    border-radius: 6px;
}

.movieContainer img:hover {
    cursor: pointer;
}


.addButton {
    display: flex;
    justify-content: end;
}


.addButton button{
    position: relative;
    top: -30px;
    right: 0;
    border: 1px solid black;
    border-radius: 50px;
    box-sizing: content-box;
    height: 20px;
    margin-right: 5px;
}

.addButton p {
    position: relative;
    top: -45px;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.movieInfoContainer {
    display: flex;
    justify-content: space-between ;
    position: relative;
    top: -20px;
    
}

.price {
    color: red;
}


