
.movieContainer {

    width: 300px;
    flex-grow: 1;
    padding: 0px 5px;
}


.movieContainer img {
    width: 100%;
    border-radius: 6px;
}

.hoverableImage img:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.01);
    outline:1px solid #a12f370b;
    box-shadow: 0px 0px 10px #a12f36;
}


.addButton, .removeButton{
    display: flex;
    justify-content: end;
}

.addButton  :hover {
    background-color: #a12f36;
    color: white;
}

.addButton button, .removeButton button{
    position: relative;
    top: -30px;
    right: 0;
    border: 1px solid black;
    border-radius: 50px;
    box-sizing: content-box;
    height: 20px;
    margin-right: 5px;
}

.removeButton button{
    background-color: red;
    color: white;
}

.movieInfoContainer {
    display: flex;
    justify-content: space-between ;
    position: relative;
    top: -20px;
}

.price {
    color: red;
}



@media (max-width: 400px) {

    .movieContainer {
        
        margin: 0px auto;
        max-width: 200px;
    }

}