/* Removes up and down arrows from the input field */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}


.shoppingCartMovieContainer {
    display: flex;
    width: 60vw;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.cartAmountContainer, .cartItemProperties{
    display: flex;
}

.cartItemProperties {
    align-items: center;
    padding-top: 3.5px;
}

.cartMovieContainer  {
    flex: 1;
}

.shoppingCartMovieContainer img {
    height: 100px;
    margin: 2px 0px ;
    padding-right: 20px;
}

.cartAmountContainer {
    border: 1px solid rgba(128, 128, 128, 0.53);
    height: 30px;
}

.cartAmountContainer button {
    outline: none;
    background-color: transparent;
    align-self: center;
    height: 30px;
    color: rgba(128, 128, 128, 0.53);
    font-size: 1.3em; 
    border-radius: 0;
    padding: 2px 10px 5px 10px; 
    line-height: 0%;
}
.cartButtonPlus {
    border: none;
    border-left: 1px solid rgba(128, 128, 128, 0.53);
}
.cartButtonMinus {
    border: none;
    border-right: 1px solid rgba(128, 128, 128, 0.53);
}
.cartMoviePrice {
    margin-left: auto;
}

.cartMovieAmount {
    padding: 14px 7px 7px;
    border: none;
    background-color: transparent;
    text-align: center;
    height: 15px;
}


.cartAmountContainer button:focus {
outline: none;
}


/* Hover effects */
.cartAmountContainer button:hover {
    color: #3498db;
    outline: none;
}

.cartButtonPlus:hover{
    border-left: 1px solid rgba(128, 128, 128, 0.53);
}
.cartButtonMinus:hover{
    border-right: 1px solid rgba(128, 128, 128, 0.53);
}


.cartMovieAmount:hover {
    cursor: text;
}

.cartMovieAmount:focus {
    outline: none;
}

@media (max-width: 700px) {
  .shoppingCartMovieContainer {
    display: flex;
    width: 50vw;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(229, 229, 229);
}


    .cartMoviePrice {
        margin-right: 10px;
        margin-left: 3px;
    }
}

@media (max-width: 400px) {

    .cartItemProperties {
        flex-wrap: wrap;
    }
    .cartMoviePrice {
        margin-left: auto;
        
    }
}



