.home_movieGridContainer {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 340px) {
    .home_movieGridContainer {
        margin: 100px auto 0px;
        display: block;
    }

}

