.movieInfoPage {
    width: 100%;
}


.backButton {
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 3em;
}

.backButton:hover {
    cursor: pointer;
}


.MovieInfoViewContainer {
    justify-content: center;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}


.readCommentsContainer {
    margin-top: 50px;
    border: 3px solid blacK;
    width: 450px;
    background-color: #a12f36;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    max-height: 600px;
}

.movieCommentsContainer h3 {
    color: black;
    text-align: center;
    margin: 0px auto;
}


.newCommentContainer {
    margin-top: 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 10px;
}


@media (max-width: 487px) {
    .MovieInfoViewContainer {
        margin: 150px auto 10px;

    }


    .readCommentsContainer {
        width: 80%;
        background-color: #a12f36;
        padding: 10px;
        margin: 10px auto;
        border-radius: 5px;
        overflow: auto;
        max-height: 700px;
    }

    .movieCommentsContainer {
        display: flex;
        flex-wrap: wrap;
    }



    .newCommentContainer {
        margin: 20px;
    }

    @media (max-width: 340px) {
        .MovieInfoViewContainer {
            width: 230px;

        }


    }
}