.MovieInfoViewContainer {
    display: flex;
    flex-wrap: 1;
}

.readCommentsContainer {
    width: 250px;
    background-color: #a12f36;
    padding: 10px;
    border-radius: 5px;
}

.readCommentsContainer h3{
    margin-top: 0;
    color: white;
    text-align: center;
}


.newCommentContainer {
    margin-top: 10px;
    flex-wrap: wrap;
}
