.order-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: left;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #a12f36;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 100px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.order-confirmation h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.order-confirmation .order-details {
  text-align: left;
  margin-bottom: 20px;
}

.order-confirmation .order-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.order-confirmation ul.order-items {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.order-confirmation ul.order-items li {
  margin: 5px 0;
}

@media screen and (max-width: 340px) {
  .order-confirmation {
    margin: 20px;
    padding: 10px;
  }

  .order-confirmation h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .order-confirmation .order-details p {
    font-size: 0.9rem;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1000px) {
  .order-confirmation {
    max-width: 63vw;
    margin-top: 100px;
  }
}

@media screen and (max-width: 431px) {
  .order-confirmation {
    margin-top: 100px;
    align-items: flex-start;
    margin: 0px 20px;
  }
}



  