.shopping-cart {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.53);
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.checkoutInputField {
  width: 60vw;
  display: flex;
  flex-direction: column;
}



.checkoutInputField .total {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  
}

.checkoutInputField .item-count {
  margin-top: 0px;
  margin-left: auto;
}

.checkoutInputField .confirmation-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkoutInputField .confirmation-button:hover {
  background-color: #3e8e41;
}

.checkoutInputField .clear-cart-button {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkoutInputField .clear-cart-button:hover {
  background-color: #f44336;
}

.checkoutInputField form {
  display: flex;
  flex-direction: column;
}

.checkoutInputField form label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.checkoutInputField form input[type="text"],
.checkoutInputField form input[type="email"],
.checkoutInputField form input[type="tel"] {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
}

.checkoutInputField form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkoutInputField form input[type="submit"]:hover {
  background-color: #3e8e41;
}
