#shoppingCartCheckout {
  margin-top: 100px;
}

.shopping-cart {
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.53);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 63.5vw;
  max-width: 700px;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.checkoutInputField {
  width: 60vw;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}



.checkoutInputField .total {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}

.checkoutInputField .item-count {
  margin-left: auto;
}

.checkoutInputField h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.53);
}

.confirmation-button {
  align-self: center;
  width: 350px;
  background-color: #b71d27;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirmation-button:hover {
  background-color: #cf464fc8;
  color: white;
}


.checkoutInputField form {
  display: flex;
  flex-direction: column;
}

.checkoutInputField form label {
  font-size: 16px;
  font-weight: bold;
}

.checkoutInputField form input[type="text"],
.checkoutInputField form input[type="email"],
.checkoutInputField form input[type="tel"] {
  max-width: 60vw;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
}



.checkoutInputField form input[type="submit"]:hover {
  background-color: #3e8e41;
}

@media (max-width: 700px) {
  .confirmation-button {
    width: 250px;
  }
  .checkoutInputField .total {
    margin-right: 20px;
  }
  
  .checkoutInputField h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.53);
    width: 55vw;
  }

  .checkoutInputField .item-count {
    margin-left: auto;
    margin-right: 10px;
  }

.checkoutInputField form input[type="text"],
.checkoutInputField form input[type="email"],
.checkoutInputField form input[type="tel"] {
  width: 55vw;
}


}





@media (max-width: 455px) {
  .shopping-cart {
    width: 70vw;
    max-width: 300px;
  }

  .confirmation-button {
    width: 200px;
  }


  @media (max-width: 340px) {
    .confirmation-button {
      width: 150px;
    }
  }

}

